html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./back.png);
    background-attachment: absolute;
    background-repeat: no-repeat;
    background-size: fixed;
    background-position: top 1px;
    background-color: 9DBDFF;
    letter-spacing: 1px;
}
/*Top Navigation*/

.top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.top_left{
    display: flex;
    flex-direction: row;
}

.top_right{
    display: flex;
    flex-direction: row;
    text-align: right;
}

.burger-menu{
    display: none;
}
.contact_info{
    display: flex;
    align-items: center;
    padding: 2px 10px 2px 10px;
}

.contact_info .logo{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.btn{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
    padding: 0px 10px;
}

.quote, .quote-btn{
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.quote-btn .logo{
    width: 27px;
    height: 27px;
    padding: 5px;
}

.mail_id, .ph_no, .qtu{
    font-size: 15px;
    color: ECEBDE;
    letter-spacing: 2px;
}

.quote:hover,.btn:hover {
    background-color: 222831;
    border-radius: 25px;
    transition: all 0.5s ease;
    transform: translateX(-7px);
    margin-left: 5px;
}
.btn:active {
    transform: scale(0.95);
    transition: all 2s ease;
}

/*Header*/
.logo{
    width: 23px;
    height: 23px;
}

.header {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 10px 100px;
    height: 100px;
    overflow: hidden;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_left .main_logo {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-top: 15px;
}

.header_right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.header_right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header_right ul li {
    margin: 0px 20px;
}

.header_right ul li a {
    text-decoration: none;
    color: darkslategrey;
}

/*Center Content*/
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 10px;
}

.arr_left{
    margin-right: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.arr_right{
    margin-left: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.top_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    flex-grow: 1;
}

.smltxt{
    font-size: 13px;
    color: white;
    padding: 0px;
    margin: 0px;
}
.mntxt{
    font-size: 60px;
    font-weight: bold;
    color: ECEBDE;
    padding: 10px 0px;
    margin: 0px;
    line-height: 1;
}
.con-btn{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 20px;
    margin: 30px 0px;
    letter-spacing: 1px;
}
.con-btn:hover {
    background-color: 222831;
    border-radius: 10px;
    transition: all 0.5s ease;
    transform: translateX(7px);
    margin-left: 5px;
    letter-spacing: 2px;
}

/*Middle Boxes*/
.mid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 100px;
}
.one{
    text-align: center;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 350px;
    height: auto;
}
.txt{
    font-size: 20px;
    font-weight: bold;
    color: 001F3F;
    text-shadow: 5px 5px 5px greenyellow;
    margin: 0px;
}
.ins{
    font-size: 15px;
    color: dimgray;
}
.mlogo{
    width: 100px;
    height: auto;
    margin: 20px;
}
.mid::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 65%;
    background-color: 37AFE1;
    z-index: -1;
}

/*After Middle Box Content*/
.txt1{
    font-size: 40px;
    font-weight: bold;
    color: 001F3F;
    margin: 0px;
    line-height: 40px;
}
.ins1{
    font-size: 17px;
    color: white;
    font-weight: bold;
}
.ins2{
    font-size: 15px;
    color: white;
}
.cont1{
    width: 350px;
    height: auto;
}
/*Section 1*/
.why-choose-us{
    background-color: white;
    text-align: center;
    padding: 60px 20px;
}

.why-choose-us h2 {
    font-size: 17px;
    color: #555;
    padding: 0px;
    margin: 0px;
}
  
.why-choose-us h3 {
    font-size: 40px;
    color: #333;
    padding: 0px;
    margin: 0;
}
  
.why-choose-us p {
    font-size: 16px;
    color: #666;
    max-width: 600px;
    margin: 0 auto 30px;
    padding: 10px;
}
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
  
.feature {
    background: #fff;
    padding: 20px;
    max-width: 300px;
    text-align: center;
}
  
.feature img {
    width: 80px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.1);
}
  
.feature h4 {
    font-size: 18px;
    color: #333;
}
.feature p {
    font-size: 14px;
    color: #666;
}
/*Section 2*/
.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    position: relative;
}
  
.hero-image {
    flex: 1;
    max-width: 45%;
    max-height: 25%;
}
.hero{
    margin-bottom: 100px;
}

.hero-content {
    position: absolute;
    top: 63%;
    left: 70%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 40px;
    width: 54.7%;
    height: 83%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    text-align: start;
}
.hero-content h4 {
    font-size: 15px;
    color: gray;
    margin: 0;
}
.hero-content p{
    font-size: 15px;
    color: #333;
    margin: 10px 0;
}

.hero-content h1 {
    font-size: 35px;
    color: 001F3F;
    text-shadow: 0px 2px 10px #777;
    margin: 10px 0;
}

.features-1 {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.feature1 {
    text-align: start;
    flex: 1;
}
  
.feature1 img {
    width: 50px;
    margin-bottom: 10px;
}
  
.feature1 h3 {
    font-size: 18px;
    margin: 10px 0;
    color: 001F3F;
}
  
.feature1 p {
    font-size: 14px;
    color: #555;
}
.hero-image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
}
/*Section 3*/
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 80px 20px;
    margin: 0;
    background: url(./clean.jpg) no-repeat center center;
    background-size: cover;
    z-index: 0;
    margin-top: -100px;
}
.service {
    background: rgba(228, 228, 228, 0.8);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px);
    margin: 20px;
}
.services p{
    font-size: 15px;
    color: #333;
    text-shadow: whitesmoke 1px 1px 3px;
    text-align: center;
}
.services h3{
    font-size: 20px;
    color: 001F3F;
    margin: 10px 0;
    text-align: center;
}
.service-image img {
    width: 25%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

.service-content h3 {
    font-size: 24px;
    color: 001F3F;
    margin: 10px 0;
    text-align: center;
}

.service-content p {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
}

.dot1{
    cursor: pointer;
}

/*Section 4*/
.team-header {
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    line-height: 0.8;
}
  
.team-header h4 {
    font-size: 18px;
    color: #555;
    text-transform: uppercase;
}
  
.team-header h1 {
    font-size: 36px;
    color: 001F3F;
    margin: 15px 0;
}
  
.team-header p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}
.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f5f5f5;
}
  
.team-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
  
.team-card:hover {
    transform: translateY(-10px);
}
  
.team-card img {
    width: 100%;
    height: auto;
    display: block;
}
.team-info {
    padding: 15px;
}
  
.team-info h3 {
    font-size: 20px;
    color: #333;
    margin: 6px 0;
}
  
.team-info p {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}





/* Footer */
.footer {
    background-color: F0F0F0;
    color: black;
    padding: 8px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 250px;
}

.footer-logo {
    max-width: 200px;
    height: auto;
    object-fit: contain;
}
.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: black;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: 222831;
}

.newsletter-section form {
    display: flex;
    flex-direction: column;
}
.newsletter-section input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.newsletter-section button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: cadetblue;
    color: beige;
    cursor: pointer;
}

.newsletter-section button:hover {
    background-color: darkcyan;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}
.footer-bottom p {
    margin: 0px;
    padding-left: 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
    padding-right: 20px;
}

.social-icons a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: cadetblue;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
        background-image: url(./back.png); /* Ensure the background image is set */
        background-attachment: absolute;
        background-size: fixed;
        background-position: top 3% left 40%;
    }
    .top {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    .top_left {
        width: 100%;
        justify-content: center;
        margin-bottom: 15px;
    }
    .top_right {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .contact_info {
        margin: 5px 0;
    }

    .burger-menu{
        position: absolute;
        top: 280px;
        right: 20px;
        z-index: 100;
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        margin-top: 10px;

    }
    .quote {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .header {
        height: auto;
        margin: 10px;
        padding: 10px;
    }

    .header_left .main_logo {
        width: 200px;
        height: auto;
        margin-top: 0;
    }
    
    .header_right{
        width: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px 0;
        top: 30%;
        left: 0;
        z-index: 99;
        display: none;
    }

    .header_right.active {
        display: flex;
    }

    .header_right ul {
        flex-direction: column;
        width: 100%;
    }

    .header_right ul li {
        margin: 10px 0;
        text-align: center;
    }

    .content {
        margin: 20px 10px;
        padding: 0 20px;
    }
    .mntxt{
        font-size: 36px;
        text-align: center;
    }

    .arr_left, .arr_right {
        display: none;
    }

    .top_text {
        align-items: center;
        text-align: center;
    }

    .mid {
        flex-direction: column;
        margin: 20px 10px;
        gap: 10px;
    }

    .one {
        width: 90%;
        margin: 10px 0;
        padding: 15px;
    }

    .hero {
        flex-direction: column;
        margin-bottom: 0;
    }

    .hero-image {
        max-width: 100%;
    }

    .hero-content {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }
    .feature{
        padding: 0;
    }

    .services {
        flex-direction: column;
        padding: 20px;
        margin-top: 0;
    }

    .service {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .team-container {
        flex-direction: column;
        padding: 0px;
    }
    .team-header p{
        line-height: 1.2;
    }

    .team-card {
        width: 100%;
        margin: 10px 0;
    }

    .footer-content {
        flex-direction: column;
        padding: 0 20px;
    }

    .footer-section {
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .social-icons {
        justify-content: space-between;
        padding: 0%;
    }
}
@media (max-width: 768px){
    .txt1 {
        font-size: 28px;
    }
    
    .hero-content h1 {
        font-size: 26px;
    }
    
    .contact_info {
        flex-direction: column;
        align-items: center;
    }
    
    .contact_info .logo {
        margin-bottom: 5px;
    }
    
    .top_right .btn {
        padding: 5px;
    }
    
    .quote-btn {
        padding: 8px 15px;
    }
}
